
// Permissions to grant to modules

grant codeBase "file:${build.home}/nio-impl/target/main/classes/-"
{
    permission java.net.SocketPermission "*:*", "connect, accept, resolve";
    permission java.lang.RuntimePermission "modifyThread";
    permission javax.management.MBeanTrustPermission "register";
    permission java.lang.RuntimePermission "xnioProvider";
};

grant codeBase "file:${build.home}/api/target/main/classes/-"
{
    // for IoUtils.closeableExecutor
    permission java.lang.RuntimePermission "modifyThread";
    permission java.net.SocketPermission "*:*", "connect, accept, resolve";
    permission java.util.PropertyPermission "xnio.*", "read";
    permission javax.management.MBeanServerPermission "findMBeanServer";
    permission javax.management.MBeanTrustPermission "register";
    permission javax.management.MBeanPermission "*#-[org.jboss.Xnio:*]", "registerMBean,unregisterMBean";
    permission java.lang.RuntimePermission "xnioProvider";
};

// Permissions to run the nio-impl test suite

grant codeBase "file:${build.home}/nio-impl/target/test/classes/-"
{
    permission javax.management.MBeanServerPermission "createMBeanServer";
    permission java.net.SocketPermission "*:*", "accept, connect, resolve";
    permission java.lang.RuntimePermission "modifyThread";
};

// Support classes

grant codeBase "file:${build.home}/test-support/target/main/classes/-"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${idea.home}/lib/idea_rt.jar"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${lib.junit.local}"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${ant.library.dir}/-"
{
    permission java.security.AllPermission;
};

