
// Permissions to grant to modules

grant codeBase "file:${build.home}/nio-impl/target/main/classes/-"
{
    permission java.net.SocketPermission "*:*", "connect, accept, resolve";
    permission java.lang.RuntimePermission "modifyThread";
    // TODO : Temporary until management stuff moves to api
    permission java.util.PropertyPermission "org.jboss.xnio.*", "read";
    permission javax.management.MBeanServerPermission "findMBeanServer";
};

grant codeBase "file:${build.home}/api/target/main/classes/-"
{
    permission java.net.SocketPermission "*:*", "connect, accept, resolve";
};


// Permissions to run the nio-impl test suite

grant codeBase "file:${build.home}/nio-impl/target/test/classes/-"
{
    permission java.net.SocketPermission "*:*", "accept, connect, resolve";
};

// Support classes

grant codeBase "file:${build.home}/test-support/target/main/classes/-"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${idea.home}/lib/idea_rt.jar"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${lib.junit.local}"
{
    permission java.security.AllPermission;
};

grant codeBase "file:${ant.library.dir}/-"
{
    permission java.security.AllPermission;
};

